CREATE DATABASE PRO1041;
GO

USE PRO1041;
GO

-- 1. BẢNG TÀI KHOẢN
CREATE TABLE TaiKhoan (
    MaNguoiDung INT IDENTITY(1,1) PRIMARY KEY,
    TenTaiKhoan NVARCHAR(50) NOT NULL UNIQUE,
    MatKhau NVARCHAR(100) NOT NULL,
    HoTen NVARCHAR(100) NULL,
    CCCD NVARCHAR(20) NULL,
    DienThoai NVARCHAR(15) NULL,
    Email NVARCHAR(100) NULL,
    DiaChi NVARCHAR(200) NULL,
    VaiTro INT NOT NULL DEFAULT 2 CHECK (VaiTro IN (1, 2)),   -- 1: Admin, 2: Người thuê
    TrangThai INT NOT NULL DEFAULT 1 CHECK (TrangThai IN (0, 1)), -- 1: Hoạt động, 0: Khóa
    HinhAnh NVARCHAR(255) NULL,
    NgaySinh DATE NULL,
    GioiTinh NVARCHAR(10) NULL
);
GO

-- 2. BẢNG PHÒNG
CREATE TABLE Phong (
    MaPhong VARCHAR(50) PRIMARY KEY,
    TrangThai NVARCHAR(50) NOT NULL DEFAULT N'Trống',
    GiaTien DECIMAL(18,0) NOT NULL,
    DienTich DECIMAL(18,2) NULL,
    DiaChi NVARCHAR(255) NULL,
    LienHe NVARCHAR(50) NULL,
    MoTa NVARCHAR(255) NULL,
    AnhPhong NVARCHAR(255) NULL
);
GO

-- 3. BẢNG HỢP ĐỒNG
CREATE TABLE HopDong (
    MaHopDong VARCHAR(50) PRIMARY KEY,
    MaNguoiDung INT NOT NULL,
    MaPhong VARCHAR(50) NOT NULL,
    NgayBatDau DATE NULL,
    NgayKetThuc DATE NULL,

    CONSTRAINT FK_HopDong_TaiKhoan
        FOREIGN KEY (MaNguoiDung) REFERENCES TaiKhoan(MaNguoiDung),

    CONSTRAINT FK_HopDong_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);
GO

-- 4. BẢNG HÓA ĐƠN
CREATE TABLE HoaDon (
    MaHoaDon VARCHAR(50) PRIMARY KEY,
    MaHopDong VARCHAR(50) NOT NULL,
    TienPhong DECIMAL(18,0) NULL DEFAULT 0,
    TienDien DECIMAL(18,0) NULL DEFAULT 0,
    TienNuoc DECIMAL(18,0) NULL DEFAULT 0,
    TrangThai NVARCHAR(50) NOT NULL DEFAULT N'Chưa thanh toán',
    NgayThanhToan DATE NULL,
    NgayTaoHoaDon DATE NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_HoaDon_HopDong
        FOREIGN KEY (MaHopDong) REFERENCES HopDong(MaHopDong),

    CONSTRAINT CK_HoaDon_TrangThai
        CHECK (TrangThai IN (N'Đã thanh toán', N'Chưa thanh toán'))
);
GO

-- 5. BẢNG LỊCH SỬ NGƯỜI DÙNG
CREATE TABLE LichSuNguoiDung (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    MaNguoiDung INT NULL,
    ThoiGian DATETIME NULL DEFAULT GETDATE(),
    HanhDong NVARCHAR(255) NULL,

    CONSTRAINT FK_LichSu_TaiKhoan
        FOREIGN KEY (MaNguoiDung) REFERENCES TaiKhoan(MaNguoiDung)
);
GO

 
-- DỮ LIỆU MẪU
 
SET IDENTITY_INSERT TaiKhoan ON;
INSERT INTO TaiKhoan (
    MaNguoiDung, TenTaiKhoan, MatKhau, HoTen, CCCD, DienThoai, Email, DiaChi,
    VaiTro, TrangThai, HinhAnh, NgaySinh, GioiTinh
)
VALUES
(1, N'admin',  N'123', N'Nguyễn Văn Admin', N'001122334455', N'0909000001', N'admin@gmail.com', N'Hà Nội',       1, 1, NULL, NULL, N'Nam'),
(2, N'thue01', N'123', N'Trần Văn A',       N'002233445566', N'0909000002', N'a@gmail.com',     N'Hồ Chí Minh', 2, 1, NULL, NULL, N'Nam'),
(3, N'thue02', N'123', N'Lê Thị B',         N'003344556677', N'0909000003', N'b@gmail.com',     N'Đà Nẵng',     2, 1, NULL, NULL, N'Nữ');
SET IDENTITY_INSERT TaiKhoan OFF;
GO

 
-- 7. DỮ LIỆU MẪU - PHÒNG
 
INSERT INTO Phong (MaPhong, TrangThai, GiaTien, DienTich, DiaChi, LienHe, MoTa, AnhPhong)
VALUES
('P101', N'Trống',     3000000, 20.50, N'Quận 1', N'0909111111', N'Phòng sạch sẽ', NULL),
('P102', N'Đang thuê', 3500000, 25.00, N'Quận 2', N'0909222222', N'Có ban công',   NULL),
('P103', N'Trống',     2800000, 18.00, N'Quận 3', N'0909333333', N'Gần trung tâm', NULL);
GO

 
-- 8. DỮ LIỆU MẪU - HỢP ĐỒNG
 
INSERT INTO HopDong (MaHopDong, MaNguoiDung, MaPhong, NgayBatDau, NgayKetThuc)
VALUES
('HD01', 2, 'P102', '2025-01-01', '2025-12-31'),
('HD02', 3, 'P101', '2025-02-01', '2025-11-30'),
('HD03', 2, 'P103', '2025-03-01', '2025-09-30');
GO

 
-- 9. DỮ LIỆU MẪU - HÓA ĐƠN
 
INSERT INTO HoaDon (MaHoaDon, MaHopDong, TienPhong, TienDien, TienNuoc, TrangThai, NgayThanhToan, NgayTaoHoaDon)
VALUES
('HĐ01', 'HD01', 3500000, 500000, 200000, N'Chưa thanh toán', NULL, '2026-02-24'),
('HĐ02', 'HD02', 3000000, 450000, 180000, N'Đã thanh toán',   NULL, '2026-02-24'),
('HĐ03', 'HD03', 2800000, 400000, 150000, N'Chưa thanh toán', NULL, '2026-02-24');
GO

 
-- 10. DỮ LIỆU MẪU - LỊCH SỬ
 
SET IDENTITY_INSERT LichSuNguoiDung ON;
INSERT INTO LichSuNguoiDung (ID, MaNguoiDung, ThoiGian, HanhDong)
VALUES
(1, 1, '2026-02-24 07:44:35.987', N'Đăng nhập hệ thống'),
(2, 2, '2026-02-24 07:44:35.987', N'Thuê phòng P102'),
(3, 3, '2026-02-24 07:44:35.987', N'Thanh toán hóa đơn');
SET IDENTITY_INSERT LichSuNguoiDung OFF;
GO